autostart/
Code/
dconf/
dunst/
enchant/
evolution/
gnome-control-center/
gnome-session/
goa-1.0/
google-chrome/
htop/
ibus/
libreoffice/
menus/
nautilus/
neofetch/
pulse/
spotifyd/
tiling-assistant
update-notifier/
vlc/
systemd/

.gsd-keyboard.settings-ported
gnome-initial-setup-done
GNOME-xdg-terminals.list
mimeapps.list
monitors.xml
monitors.xml~
QtProject.conf
ubuntu-xdg-terminals.list
user-dirs.dirs
user-dirs.locale
xdg-terminals.list

1Password/
BraveSoftware/
Vencord/
cava/
chromium/
google-chrome-beta/
google-chrome-unstable/
microsoft-edge-dev/
vivaldi-snapshot/
vivaldi/
wireshark/
mimeapps.list
gtk-3.0/
gtk-4.0/

i3/scripts/vscode-settings
i3status/config

